body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newgame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newbtn {
  border-style: none;
  border: 2px black solid;
  color: white;
  background-color: rgb(10, 99, 202);
  cursor: grab;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  padding-top: 5px;
}
