body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newgame,
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

#newbtn {
  border-style: none;
  border: 2px black solid;
  color: white;
  background-color: rgb(10, 99, 202);
  cursor: grab;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  padding-top: 5px;
}

.board {
  margin-top: 10px;
}

#game {
  width: 420px;
  height: 420px;

  display: grid;
  background-color: aquamarine;
}

.box {
  background-color: rgb(255, 255, 255);
  border: 3px rgb(2, 2, 2) solid;
}
