body {
  font-family: Chubby, Courier, monospace;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

#body {
  background-color: rgb(192, 84, 84);
}

#dark-mode {
  height: 20px;
}

@font-face {
  font-family: Chubby;
  src: url(../tic-tac-toe/fonts/FredokaOne-Regular.ttf);
}

h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

#newbtn {
  border-style: none;
  border: 2px black solid;
  color: white;
  background-color: rgb(10, 99, 202);
  cursor: grab;
  font-family: Chubby, Courier, monospace;
  text-transform: uppercase;
  padding-top: 5px;
  margin-top: 5px;
}

.board {
  margin-top: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
}

#game {
  width: 420px;
  height: 420px;
  display: none;
}

#newgame {
  display: grid;
  align-items: center;
  justify-content: center;
}

#player2wrapper,
#player1wrapper {
  margin-bottom: 10px;
  display: block;
}

#player1,
#player2 {
  width: fit-content;
}

#box0,
#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8 {
  background-color: white;
  border: 3px rgb(0, 0, 0) solid;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

#readyp1,
#readyp2 {
  color: green;
  margin-top: 5px;
}

#symbolX,
#symbolO {
  background-color: white;
  border: 1px black solid;
}

#notready {
  color: red;
  display: none;
}

#reset {
  display: none;
}

#turnplayer {
  text-align: center;
}
